{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="container">
    {% if user.is_authenticated %}
      <script>
        window.location.href = "{% url 'index' %}";
      </script>
    {% else %}
      <p class="message">Welcome to Rooms !</p>
      <div class="buttons">
          <a class="button" href="{% url 'login' %}">Log In</a>
          <a class="button" href="{% url 'signup' %}">Sign Up</a>
      </div>
    {% endif %}
</div>

<style>
    #container {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .message {
        margin-bottom: 20px;
        font-size: 18px;
        color: #333;
    }
    .buttons {
        display: flex;
        gap: 10px;
    }
    .button {
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
